.navbar{
    width:100%;
    /*height: 1rem;;*/
    background: #2bb2a3;
    font-size: .32rem;
    line-height: 1rem;
    position: relative;
}

.navbar .nav-wrap-left{
    display:block;
    margin-left:.2rem;
    margin-right:.2rem;
    color:#ffffff;
}
.navbar .nav-wrap-left a{
    color:#ffffff;
}
.navbar form input{
    border-radius: .06rem;
    background: rgba(0,0,0,.15);
    width:70%;
    height: .64rem;
    line-height: .64rem;
    -webkit-box-sizing: border-box;
    position:absolute;
    top:0;
    left:1.5rem;
    margin-top: .2rem;
    font-size:.25rem;
    padding-left:.5rem;
}
.navbar form i{
    position:absolute;
    top:0;
    left:1.5rem;
    padding-left:.1rem;
   padding-top:.05rem;
}
.navbar>a{
    display:block;
    position:absolute;
    width: .5rem;
    top:-.1rem;
    right:.2rem;
}
.navbar>a>i{
    display:block;
}
.navbar>a>span{
    width: .4rem;
    font-size: .2rem;
    color:#fff;
    position:absolute;
    top:.4rem;
    right:.05rem;
}
/*banner begin*/
.banner{
    width:100%;
    background: #f0efed;
}
.banner img{
    display:block;
    margin:0 auto;
}
/*nav begin*/
.nav{
    width:100%;
    height:3.5rem;
    background:#fff;
    text-align: center;

}
.nav ul{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}
.nav li{
    width:20%;
    height:1.6rem;
}
.nav li a{
    display:block;
    width:50%;
    height:50%;
    margin:20%;
    border-radius:50%;
    position: relative;
}
.nav li:nth-child(1) a{
  background:#fd9d21;
}
.nav li:nth-child(2) a{
    background:#ff6767;
}
.icon-dianying::before{
    background:#ff6767;
    color:#fff;
}
.nav li:nth-child(3) a{
    background:#06c1ae;
}
.nav li:nth-child(4) a{
    background:#fed030;
}
.nav li:nth-child(5) a{
    background:#fd9d21;
}
.nav li:nth-child(6) a{
    background:#fed030;
}
.nav li:nth-child(7) a{
    background:#4dc6ee;
}
.icon-zhoubianyou::before{
    background:#4dc6ee;
}
.nav li:nth-child(8) a{
    background:#ff80c2;
}
.nav li:nth-child(9) a{
    background:#fd9d21;
}
.nav li:nth-child(10) a{
    background: #599eec;
}

.nav li a>i::before{
    position:absolute;
    top:20%;
    left:20%;
}
.nav li a>span{
    display: block;
    font-size:.24rem;
    width:120%;
    position: absolute;
    top:110%;
    color:#666;
}
/*shop1 begin*/
.shop1{
    width:100%;
    height:3rem;
    background:#fff;
    margin-top:.2rem;
    display: flex;
    text-align: center;
    color:#666;
}
.shop1 span strong{
    display:block;
    font-size: .3rem;
    line-height: 1rem;
}
.shop1 span small{
    display: block;
    font-size: .2rem;
    line-height: .2rem;
}
.shop1 .shop1-left{
     flex:1;
     height:100%;
 }
.shop1 .shop1-left span strong{
    color:#55a40f;
}
.shop1 .shop1-right{
    flex:2;
    height:100%;
    border-left:1px solid #ccc;
    display:flex;
    flex-direction:column;
}
.shop1 .shop1-right .right-top{
    flex:1;
    width:100%;
    height:50%;
    border-bottom:1px solid #ccc;
    display: flex;
}
.shop1 .shop1-right .right-top span{
    flex: 1;
    width:50%;
    height:100%;
    padding-left:10%;
}
.shop1 .shop1-right .right-top span strong{
    color:#ff3f0d;
}
.shop1 .shop1-right .right-top .img{
    flex: 1;
    width:50%;
    height:50%;
    padding-right:20%;
}
.shop1 .shop1-right .right-bottom{
    flex:1;
    width:100%;
    height:50%;
    display:flex;
}
.shop1 .shop1-right .right-bottom .bottom-left{
    flex:1;
    width:50%;
    height:100%;
    border-right:1px solid #ccc;
}
.shop1 .shop1-right .right-bottom .bottom-left span strong{
    line-height: .4rem;
    color:#f742a0;
}
.shop1 .shop1-right .right-bottom .bottom-left img{
    display:block;
    width:40%;
    height:40%;
    margin-left:30%;
}
.shop1 .shop1-right .right-bottom .bottom-left span small{
    line-height: .4rem;
}
.shop1 .shop1-right .right-bottom .bottom-right{
    flex:1;
    width:50%;
    height:100%;
}
/*shop2 begin*/
.shop2{
    width:100%;
    height:11.8rem;
    background: #fff;
    margin-top:.2rem;
    color:#666;
}
.shop2 .title{
    width:100%;
    height:.8rem;
    border:1px solid #ccc;
}
.shop2 .title h3{
    font-size: .3rem;
    line-height: .8rem;
}
.shop2 .shop-content{
    width:100%;
    height:2rem;
    border-bottom:1px solid #ccc;
    display:flex;
}
.shop2 .shop-content .img{
    flex: 2;
}
.shop2 .shop-content .img img{
    margin:10%;
}
.shop2 .shop-content .text{
    flex:3;
}
.shop2 .shop-content .text span strong{
    display: block;
    font-size: .3rem;
    line-height: .7rem;
}
.shop2 .shop-content .text span small{
    display: block;
    font-size: .2rem;
}
.shop2 .shop-content .text span small:nth-child(3){
    line-height: .5rem;
    margin-top:.5rem;
}
.shop2 .shop-content .num{
    flex:1;
    padding-top:.8rem;
}
.shop2 .shop-content .num span{
    font-size: .2rem;
}
.shop2 .link{
    width:100%;
    height:1rem;
    border-bottom:1px solid #ccc;
}
.shop2 .link h3{
    font-size:.3rem;
    color:#2bb2a3;
    line-height:1rem;
padding-left:.2rem;
}

/*footer begin*/
.footer{
    width:100%;
    height:3.2rem;
    color:#666;
    font-size: .3rem;
    display: flex;
    flex-flow: column;
    text-align: center;
    line-height: 1rem;
}
.footer .link1{
    flex:3;
    width:100%;
    height:40%;
    line-height:1.6rem;
}
.footer .link1 a{
    padding:.1rem .3rem;
    color:#06c1ae;
    border:1px solid #06c1ae;
    margin-left:.1rem;
    border-radius:.1rem;
    line-height: 100%;
}
.footer .link1 a:nth-child(4){
    padding:.1rem .5rem;
}
.footer .link1 span{
    margin-left:30%;
}
.footer>.nav2{
    flex:1;
    width:100%;
    height:20%;
    font-size: .3rem;
}
.footer>.nav2>a{
    color:#06c1ae;
    padding:0 .3rem;
}
.footer>.nav2>a+a{
    border-left:1px solid #888888;
}
.footer .link2{
    flex:1;
    width:100%;
    height:20%;
    font-size: .3rem;
}
.footer .link2 span{

}
.footer .link2 a{
    color:#06c1ae;
}
.footer .copy{
    flex:1;
    width:100%;
    height:20%;
}